{% extends "base.html" %}

{% block colunas %}
    <br>
    <h1>Flask Delivery Web</h1>

    <p>
        Site todo feito com Flask + Python3 + SQLite3 + Bulma (HTML e CSS)
    </p>
    <br>
{% endblock colunas %}

