<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Delivery App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        {% endblock head %}

        {% block extra_css%}
        {% endblock extra_css%}

    </head>
<body>
    {% block nav %}

        <!-- NAVBAR - barra de enderecos -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            
            <!-- NAVBAR IMAGE - logo na navbar -->
            <div class="navbar-brand">
                <a class="navbar-item" href=#>
                    <img src="../static/img/LogoSemFundo_Amarelo_Red80.png" width="112" height="28">
                </a>
            </div>
            
            <div class="navbar-menu" id="navbarBasicExample">
                
                <!-- NAVBAR ESQUERDA - itens a esquerda -->
                <div class="navbar-start">
                    <a class="navbar-item" href=#>Início</a>
                    <a class="navbar-item" href={{ render_template('about.html') }}></a>Sobre</a>
                    
                    <!-- DROPDOWN - lista de selecao no menu principal -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Comida</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">Pizzas</a>
                            <a class="navbar-item">Lanches</a>
                            <a class="navbar-item">Japonesa</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">Sugestões</a>
                        </div>
                    </div>
                </div>

                <!-- NAVBAR DIREITA - itens a direita -->
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary"><strong>Sign up</strong></a>
                            <a class="button is-light">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock nav %}

    
    {% block top %}
        <!-- CONTAINER - retangulo colorido separando as info -->
        <div class="container is-widescreen">
            <div class="notification is-primary">
                {% block top_palavras %}
                    <h1 class="title">Meu Flask Delivery Web</h1>
                    <p class="subtitle">
                        Meu primeiro website com <strong>Bulma</strong>!
                    </p>
                {% endblock top_palavras %}
            </div>
        </div>
    {% endblock top %}


    {% block colunas %}
    {% endblock colunas %}

        
    {% block footer %}
        <!-- FOOTER - final da pagina -->
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. 
                    The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
                    The website content is licensed 
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
    {% endblock footer %}

</body>

</html>