{% extends "base.html" %}

{% block colunas %}
    <!-- Colunas -->
    <div class="columns">
        {% for col in [1, 2, 3, 4] %}
        <div class="column">
    
            <!-- CARDS - exibir as fotos e texto das fotos -->
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                        </div>
                        <div class="media-content">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                        </div>
                    </div>
                
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
{% endblock colunas %}
